<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <%= link_to 'Picturefy', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav navbar-right">
        <li><%= link_to 'Main page ', root_path %></li>
        <li><%= link_to 'About me', home_about_path %></li>

        <% if user_signed_in? %>
            <li><%= link_to 'Edycja profilu', edit_user_registration_path %></li>
            <li><%= link_to 'Wylogowanie', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Logowanie', new_user_session_path %></li>
            <li><%= link_to 'Rejestracja', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
